ul,
ol {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  padding-inline-start: 2em; /* 每级列表的缩进 */
}

li > p {
  margin: 0.3em;
  line-height: inherit;
}

ol > li::before,
#write ul > li::before,
.md-task-list-item > input::before {
  position: absolute;
  width: 1em;
  height: 1em;
  color: #fff;
  text-align: center;
}

/* 有序列表 */

ul li,
ol li {
  list-style-type: none;
}

ol > li::before {
  font-size: 0.9rem;
  margin-top: 0.3em;
  margin-left: -1em;
  line-height: 0.7em;
  content: counter(li);
  counter-increment: li;
  background-color: var(--number-color);
  border: 2px solid var(--number-color); /* 保证有序列表和任务列表一样大 */
  border-radius: var(--span-border-radius);
}

ol > li:first-child {
  counter-reset: li;
}

/* 无序列表 */

#write ul > li::before {
  font-size: 0.5rem;
  margin-top: 1em;
  margin-left: -1.5em;
  content: "";
  background-color: var(--number-color);
  border-radius: var(--block-border-radius);
}

/** 任务列表小方框 **/

.md-task-list-item > input {
  appearance: none;
}

.md-task-list-item > input::before {
  display: inline-block;
  font-size: 0.9rem;
  margin-top: -0.2em;
  margin-left: 0.3em;
  transition: all 0.2s linear;
  content: "";
  background-color: #fff;
  border: 2px solid var(--number-color); /* 保证有序列表和任务列表一样大 */
  border-radius: var(--span-border-radius);
}

.md-task-list-item > input:checked::before,
.md-task-list-item > input[checked]::before {
  content: "\2714";
  background-color: var(--number-color);
  line-height: 0.6em;
}
.md-task-list-item::before {
  content: none !important;
}

/* done 时的文字 */
.md-task-list-item.task-list-done {
  text-decoration: line-through;
  color: var(--header-color);
}
